
# Virtual Environment
venv/
.env
# Python Cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Media Files
media/
food-images/

# Environment Variables
.env

# Django Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Static Files (if collected)
staticfiles/

# OS Files
.DS_Store
Thumbs.db