.navbar-brand {
  transition: 0.3s;
}

.navbar-brand:hover {
  color: #ffc107 !important;
  transform: scale(1.05);
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important;
  transform: translateY(-2px);
}
.btn-custom {
  background: #ffc107;
  color: black;
  transition: 0.3s;
}

.btn-custom:hover {
  background: #ffca2c;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}